.header {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 400px;
}

.header__signinBtn {
  padding: 10px 20px;
  margin: 20px;
  background-color: #fdcf05;
  border-radius: 10px;
  font-family: "Hanken-Book";
  text-decoration: none;
  font-size: 16px;
}

.header__signinBtn:hover {
  cursor: pointer;
}
.header__signinBtnLink {
  text-decoration: none;
  color: #000000;
}

/* Styling for mobile devices */

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 300px;
  }
  .header {
    border-bottom: 2px solid #fdcf05;
  }
}
