/* Generic Styling */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #000000;
  font-family: "Hanken-Book";
  font-size: 18px;
}

/* Font for headings */
@font-face {
  font-family: "FVAlmeloRegular";
  src: url("client/src/fonts/fv_almelo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Font for body -- BOLD */
@font-face {
  font-family: "Hanken-Book";
  src: url("client/src/fonts/Hanken-Book.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
