.main {
  background: url("../images/pexels-amateur-hub-3571503.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 174.3px);
  display: flex;
  justify-content: flex-start;
}

.main__h1 {
  color: #fdcf05;
  margin: 20px 30px;
  text-align: center;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
}

.main__p {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.main__div {
  margin-top: 75px;
  width: 50%;
}

.form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  font-family: "Hanken-Book";
  font-size: 16px;
  margin: 10px 0;
  padding: 15px 0px 5px 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

.form__button {
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Hanken-Book";
  background-color: #fdcf05;
  margin: 10px;
}

.form__button:hover {
  cursor: pointer;
}

/* Styling for mobile devices */

@media only screen and (max-width: 768px) {
  .main {
    background-image: none;
    display: flex;
    justify-content: flex-start;
  }

  .main__div {
    margin-top: 50px;
    width: 100%;
  }

  .form__input {
    width: 60%;
  }
}
