@font-face {
  font-family: "FVAlmeloRegular";
  src: url("../fonts/fv_almelo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hanken-Book";
  src: url("../fonts/Hanken-Book.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Hanken-Book";
  font-size: 16px;
}

/* Styling for Search Bar Section */
.homepage__searchSection {
  display: flex;
  margin: 40px;
}

.homepage__searchBtn {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #00aceb;
  border-radius: 10px;
  font-family: "Hanken-Book";
}

.homepage__searchBtn:hover {
  cursor: pointer;
}

.homepage__searchInput {
  width: 40%;
  padding: 8px;
  margin: 0px;
  font-family: "Hanken-Book";
  font-size: 16px;
}

/* Styling for Main Div */
.main {
  display: flex;
}
/* Styling for Search Results Div */
.main__searchresults {
  border: 1px solid #00aceb;
  border-radius: 5px;
}
/* Styling for Favorites Div */
.main__favoritesH1 {
  font-family: "FVAlmeloRegular";
  color: #ee1d24;
}
