.homepage__main {
  display: flex;
  justify-content: space-between;
}

/* Styling for Search Bar Section */
.homepage__searchSection {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 65%;
}

.searchfor__h1 {
  color: #00aceb;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
}

.homepage__searchBarandBtn {
  margin: 30px 0;
}

.homepage__searchBtn {
  padding: 12px 20px;
  margin: 0 5px;
  background-color: #00aceb;
  border-radius: 10px;
  font-family: "Hanken-Book";
  font-size: 16px;
}

.homepage__searchBtn:hover {
  cursor: pointer;
}

.homepage__searchInput {
  padding: 10px;
  margin: 0px;
  font-family: "Hanken-Book";
  font-size: 18px;
  width: 40%;
}

/* Styling for Search Results Div */
.main__searchresults {
}

/* Styling for the movie results div */
.movieResults__div {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #00aceb;
  background-color: #00aceb;
  border-radius: 5px;
  padding: 20px;
}

/* Movie Info Section */
.movieinfo__div {
  width: 50%;
  padding-right: 20px;
}

.movieinfo__rating,
.movieinfo__releasedate,
.movieinfo__genre,
.movieinfo__plot {
  margin: 15px 0;
}

.movietitle__heading {
  color: #ffffff;
  font-family: "FVAlmeloRegular";
  font-size: 36px;
  margin-bottom: 20px;
}

.movieinfo__heading {
  color: #ffffff;
  margin: 10px 0;
  text-decoration: underline;
  font-size: 20px;
}

.movieinfo__span {
  color: #ffffff;
  font-size: 20px;
}

/* Styling for the movie review div */
.movieinfo__review {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

.moviereview__h1 {
  color: #ffffff;
  font-family: "FVAlmeloRegular";
  font-size: 36px;
  margin-bottom: 20px;
}

/* Styling for the Burnt Meter section */
.moviereview__burntmetersection {
  margin: 20px 0;
}

.moviereview__heading {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 24px;
}

.burntmeter__slider {
  width: 100%;
}

/* Styling for the review textarea section */
.moviereview__textarea {
  padding: 10px;
  font-size: 18px;
  font-family: "Hanken-Book";
}

.homepage__addReviewBtn {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #00aceb;
  border-radius: 10px;
  font-family: "Hanken-Book";
  font-size: 16px;
}

/* Styling for Favorites Section */
.homepage__favortiesSection {
  margin: 40px;
  text-align: right;
  /* border: 1px solid #ee1d24; */
}
.favorites__h1 {
  color: #ee1d24;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
}

/* Profile Button Styling */
.homepage__profileBtn {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #00aceb;
  border-radius: 10px;
  font-family: "Hanken-Book";
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.homepage__profileBtn:hover {
  cursor: pointer;
}
