.homepage__main {
  display: flex;
  justify-content: space-between;
}

/* Styling for Search Bar Section */
.homepage__searchSection {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 65%;
}

.searchfor__h1 {
  color: #00aceb;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
}

.homepage__searchBarandBtn {
  margin: 30px 0;
}

.homepage__searchBtn {
  padding: 12px 20px;
  margin: 0 5px;
  background-color: #00aceb;
  border-radius: 10px;
  font-family: "Hanken-Book";
  font-size: 16px;
}

.homepage__searchBtn:hover {
  cursor: pointer;
}

.homepage__searchInput {
  padding: 10px;
  margin: 0px;
  font-family: "Hanken-Book";
  font-size: 18px;
  width: 40%;
}

/* Styling for empty search screen */
.searchresults__noresultsSection {
  display: flex;
  margin: 50px 0;
  align-items: center;
}

.noresultsSection__popcornimg {
  width: 200px;
}
.noresultsSection__heading {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
}

/* Styling for the movie results div */
.movieResults__div {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #00aceb;
  background-color: #00aceb;
  border-radius: 5px;
  padding: 20px;
}

/* Movie Info Section */
.movieinfo__div {
  width: 50%;
  padding-right: 20px;
}

.movieinfo__rating,
.movieinfo__releasedate,
.movieinfo__genre {
  margin: 20px 0;
}

.movieinfo__plot {
  padding-right: 40px;
}

.movietitle__heading {
  color: #ffffff;
  font-family: "FVAlmeloRegular";
  font-size: 36px;
  margin-bottom: 20px;
}

.movieinfo__heading {
  color: #ffffff;
  margin: 10px 0;
  text-decoration: underline;
  font-size: 20px;
}

.movieinfo__span {
  color: #ffffff;
  font-size: 20px;
}

/* Styling for the movie review div */
.movieinfo__review {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

.moviereview__h1 {
  color: #ffffff;
  font-family: "FVAlmeloRegular";
  font-size: 36px;
  margin-bottom: 20px;
}

.moviereview__heading {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 28px;
}

/* Styling for the favorites section */
.moviereview__addtofavortiessection {
  padding: 20px 0 40px 0;
}

.moviereview__favoritesLabel {
  color: #ffffff;
  font-size: 20px;
}

.moviereview__favoritesBtn {
  width: 5%;
  height: 1.5em;
}

/* Styling for the Burnt Meter section */
.moviereview__burntmetersection {
  padding: 40px 0 40px 0;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
}

.moviereview__explanation {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}
.likerScale__burnt {
  width: 12%;
  margin-left: 3%;
  margin-right: 10%;
}

.likerScale__kernel {
  width: 8%;
  margin-right: 10%;
}

.likerScale__whitepopcorn {
  width: 12%;
  margin-right: 8%;
}

.likerScale__slightlybuttered {
  width: 12%;
  margin-right: 8%;
}

.likerScale__buttered {
  width: 12%;
}

/* Styling for the movie review section */
.moviereview__reviewsection {
  padding: 40px 0 20px 0;
}

.moviereview__textarea {
  padding: 10px;
  font-size: 18px;
  font-family: "Hanken-Book";
  width: 95%;
  margin-bottom: 15px;
}

.homepage__addReviewBtn {
  padding: 15px 20px 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  font-family: "Hanken-Book";
  font-size: 16px;
}

/* Styling for Reviews Section */
.homepage__reviewSection {
  margin: 40px;
  text-align: right;
}
.reviews__h1 {
  color: #ee1d24;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
}

.reviews__list {
  list-style: none;
  margin-top: 20px;
}
