.loginForm__main {
  background: url(../components/images/iStock-869302366.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 174.3px);
}

.loginForm__section {
  float: right;
  width: 600px;
  margin: 75px 75px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.login__h1 {
  color: #fdcf05;
  text-align: center;
  font-family: "FVAlmeloRegular";
  font-size: 48px;
  margin: 20px 0px;
}

.login__p {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin: 20px 0px;
}

.loginform__button {
  padding: 15px 20px 10px 20px;
  border-radius: 10px;
  font-family: "Hanken-Book";
  background-color: #fdcf05;
  margin: 10px;
  font-size: 18px;
}

.loginform__button:hover {
  cursor: pointer;
}

.loginform__input {
  font-family: "Hanken-Book";
  font-size: 18px;
  margin: 10px 0;
  padding: 15px 0px 5px 10px;
  border: none;
  border-radius: 5px;
  width: 60%;
}

.loginform__createaccountsection {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin: 50px 0;
}

.loginform__createaccountBtn {
  padding: 15px 20px 10px 20px;
  border-radius: 10px;
  font-family: "Hanken-Book";
  background-color: #fdcf05;
  margin: 15px;
  font-size: 18px;
}

.loginform__createaccountBtnLink {
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
}

/* Styling for mobile devices */

@media only screen and (max-width: 768px) {
  .loginForm__main {
    background: none;
  }

  .loginForm__section {
    clear: right;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }

  .loginForm {
    margin-top: 25px;
  }
}
