.footer {
  padding: 20px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__img {
  width: 120px;
}

.footer__h4 {
  font-family: "FVAlmeloRegular";
  color: #fdcf05;
  font-size: 22px;
  margin: 5px 0;
}

.footer__p {
  color: #ffffff;
}

/* Styling for mobile devices */

@media only screen and (max-width: 768px) {
  .footer {
    visibility: hidden;
  }
}
