.header {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 400px;
}

/* Styling for mobile devices */

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 300px;
  }
  .header {
    border-bottom: 2px solid #fdcf05;
  }
}
